# !!! WARNING !!!
# CAN NOT USE Chinese Characters for Hummingbird with Environment.dotEnv() function.


# MQTT Server Config
MQTT_HOST=macmini.local
MQTT_PORT=1883
MQTT_USERNAME=your_username
MQTT_PASSWORD=your_password

# MariaDB Config
DB_HOST=macmini.local
DB_PORT=3306
DB_USERNAME=your_username
DB_PASSWORD=your_password
DB_DATABASE=test

# Optional HTTPS (PEM). If both are set, Hummingbird serves TLS on HTTP_PORT (default 8044).
TLS_CERT_PATH=/path/to/vault26/certs/cert.pem
TLS_KEY_PATH=/path/to/vault26/certs/key.pem
HTTP_PORT=8044
